# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# cd /uu/sci.utah.edu/tolga_scratch/bodong/projects/Xiaoya_Transformer/programs_and_results/
##### conda create --name myDLenv3 --file requirements.txt
# cd /uu/sci.utah.edu/tolga_scratch/bodong/projects/Xiaoya_Transformer/programs_and_results/
# conda create --name myDLenvXY python==3.10
# conda activate myDLenvXY
# pip install -r requirements.txt
# platform: linux-64
# _libgcc_mutex==0.1==main 
# _openmp_mutex==5.1==1_gnu # conda install _libgcc_mutex==0.1==main
# absl-py==2.0.0
# accelerate==0.25.0
# aiohttp==3.9.3
# aiosignal==1.3.1
# albumentations==1.3.1
# apex==0.1
# asttokens==2.0.5
# astunparse==1.6.3
# async-timeout==4.0.3
# attrs==23.1.0
# backcall==0.2.0
# beautifulsoup4==4.12.2
# bleach==4.1.0
# bzip2==1.0.8
# ca-certificates==2024.2.2
# cachetools==5.3.1
# certifi==2022.12.7
# charset-normalizer==2.1.1
# cmake==3.25.0
# comm==0.1.2
# contextlib2==21.6.0
# contourpy==1.1.1
# cudatoolkit==11.8.0
# cycler==0.12.1
# datasets==2.18.0
# debugpy==1.5.1
# decorator==5.1.1
# defusedxml==0.7.1
# dill==0.3.8
# einops==0.3.2
# executing==0.8.3
# filelock==3.9.0
# flatbuffers==23.5.26
# fonttools==4.43.1
# frozenlist==1.4.1
# fsspec==2023.10.0
# gast==0.5.4
# google-auth==2.23.3
# google-auth-oauthlib==1.0.0
# google-pasta==0.2.0
# grpcio==1.59.0
# h5py==3.10.0
# huggingface-hub==0.21.4
# idna==3.4
# imageio==2.31.5
# ipykernel==6.19.2
# ipython==8.12.0
# jedi==0.18.1
# jinja2==3.1.2
# joblib==1.2.0
# jsonschema==4.19.2
# jsonschema-specifications==2023.7.1
# jupyter_client==8.1.0
# jupyter_core==5.3.0
# jupyterlab_pygments==0.1.2
# keras==2.14.0
# kiwisolver==1.4.5
# lazy-loader==0.3
# ld_impl_linux-64==2.38
# libclang==16.0.6
# libffi==3.4.4
# libgcc-ng==11.2.0
# libgomp==11.2.0
# libsodium==1.0.18
# libstdcxx-ng==11.2.0
# libuuid==1.41.5
# lit==15.0.7
# markdown==3.5
# markupsafe==2.1.2
# matplotlib==3.8.0
# matplotlib-inline==0.1.6
# mistune==2.0.4
# ml-collections==0.1.1
# ml-dtypes==0.2.0
# mpmath==1.2.1
# multidict==6.0.5
# multiprocess==0.70.16
# nbclient==0.8.0
# nbconvert==7.10.0
# nbformat==5.9.2
# ncurses==6.4
# nest-asyncio==1.5.6
# networkx==3.0
# numpy==1.24.1
# oauthlib==3.2.2
# opencv-python==4.8.1.78
# opencv-python-headless==4.8.1.78
# openssl==1.1.1
# opt-einsum==3.3.0
# packaging==23.1
# pandas==2.1.2
# pandocfilters==1.5.0
# parso==0.8.3
# pexpect==4.8.0
# pickleshare==0.7.5
# pillow==9.3.0
# pip==23.0.1
# platformdirs==2.5.2
# plotly==5.18.0
# prompt-toolkit==3.0.36
# protobuf==4.24.4
# psutil==5.9.0
# ptyprocess==0.7.0
# pure_eval==0.2.2
# pyarrow==15.0.2
# pyarrow-hotfix==0.6
# pyasn1==0.5.0
# pyasn1-modules==0.3.0
# pygments==2.15.1
# pyparsing==3.1.1
# python==3.10.11
# python-dateutil==2.8.2
# python-fastjsonschema==2.16.2
# pytorch-balanced-sampler==0.0.1
# pytz==2023.3.post1
# pyyaml==6.0.1
# pyzmq==25.0.2
# qudida==0.0.4
# # readline==8.2
# referencing==0.30.2
# regex==2023.12.25
# requests==2.28.1
# requests-oauthlib==1.3.1
# rpds-py==0.10.6
# rsa==4.9
# safetensors==0.4.2
# scikit-image==0.22.0
# scikit-learn==1.2.2
# scipy==1.10.1
# setuptools==67.8.0
# six==1.16.0
# soupsieve==2.5
# # sqlite==3.41.2
# stack_data==0.2.0
# sympy==1.11.1
# tenacity==8.2.3
# tensorboard==2.14.1
# tensorboard-data-server==0.7.1
# tensorflow==2.14.0
# tensorflow-estimator==2.14.0
# tensorflow-io-gcs-filesystem==0.34.0
# termcolor==2.3.0
# threadpoolctl==3.1.0
# tifffile==2023.9.26
# timm==0.9.8
# tinycss2==1.2.1
# tk==8.6.12
# tokenizers==0.15.2
# torch==2.0.0+cu118
# torchaudio==2.0.1+cu118
# torchvision==0.15.1+cu118
# tornado==6.2
# tqdm==4.66.1
# traitlets==5.7.1
# transformers==4.39.0.dev0
triton==2.0.0
typing-extensions==4.4.0
tzdata==2023.3
urllib3==1.26.13
wcwidth==0.2.5
webencodings==0.5.1
werkzeug==3.0.0
wheel==0.38.4
wrapt==1.14.1
xxhash==3.4.1
# xz==5.4.2
yarl==1.9.4
# zeromq==4.3.4
# zlib==1.2.13